<h2>Impostazioni</h2>
<hr>

<select class="form-select mt-4">
    <option selected>Scegli il font del tema:</option>
    <option value="1">Roboto</option>
    <option value="2">Arial</option>
    <option value="3">Time New Roman</option>
</select>


<label for="exampleColorInput" class="form-label mt-4">Scegli il colore del tema:</label>
<input type="color"
        class="form-control form-control-color"
        value="" title="Choose your color"
        [(ngModel)]="colore" (change)="cambiaColore()">