@import "bootstrap-icons/font/bootstrap-icons.css";


NAV A {
    text-decoration: none;
}


HTML, 
BODY {
    height: 100%;
}


app-root {
    display: block;
    height: 100%;
  }


  app-sidebar {
    display: block;
    height: 100%;
  }


  app-profili {
    display: block;
    height: 100%;
  }
